{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="alert alert-primary" role="alert">
        Current Balance: {{ cash | usd }}
    </div>
  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.number }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.totalValue | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}